# https://stackoverflow.com/questions/23837933/how-can-i-remove-public-index-php-in-the-url-generated-laravel
<IfModule mod_rewrite.c>
   RewriteEngine On 
   RewriteRule ^(.*)$ src/public/$1 [L]
</IfModule>
